<header>

    <div id="menu-bar" class="fas fa-bars"></div>

    <a href="#" class="logo"><span>World OF </span>Travel</a>

    <nav class="navbar" role="navigation">
        <a routerLink="home">home</a>
        <a routerLink="packages">packages</a>
        <a routerLink="services">services</a>
        <a routerLink="reviews">reviews</a>
        <a routerLink="contact">contact</a>
        
    </nav>

    <div class="icons">
        <a routerLink="/login"><i class="fas fa-user" id="login-btn">Login</i></a>
    </div>
</header>
