

<section class="packages" id="packages">

    <h1 class="heading">
        <span>R</span>
        <span>e</span>
        <span>v</span>
        <span>i</span>
        <span>e</span>
        <span>w</span>
        <span>s</span>
    </h1>

    <div class="box-container">

        <div class="box">
            <img src="assets/images/sachin.jpg" alt="">
            <div class="content">
                <h2> Sachin Tendulkar </h2>
                <h3 style="color: orange;"> Trip to Paris </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="assets/images/dhoni.jpg" alt="">
            <div class="content">
                <h2>MS Dhoni </h2>
                <h3 style="color: orange;"> Trip to London </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="assets/images/virat.jpg" alt="">
            <div class="content">
                <h3> Virat Kohli </h3>
                <h3 style="color: orange;"> Trip to Canada </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="assets/images/pv.sindhu.jpg" alt="">
            <div class="content">
                <h3>P.V Sindhu </h3>
                <h3 style="color: orange;"> Trip to USA </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="assets/images/prabhas.jpg" alt="">
            <div class="content">
                <h3> Actor - Prabhas </h3>
                <h3 style="color: orange;"> Trip to France </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="assets/images/sehwag.jpg" alt="">
            <div class="content">
                <h3> Virender Sehwag </h3>
                <h3 style="color: orange;"> Trip to Germany </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nam!</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                
               </div>
           </div>
         </div>

    </section>
    <app-footer></app-footer>

